<nav class="navbar navbar-expand-sm fixed-top border-bottom navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-sm-center" id="navbar">
        <ul class="navbar-nav">
            <li class="nav-item <?= ($this->primary_navigation === 'home' ? 'active' : '') ?>"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item <?= ($this->primary_navigation === 'details' ? 'active' : '') ?>"><a class="nav-link" href="/details">Details</a></li>
            <li class="nav-item <?= ($this->primary_navigation === 'registry' ? 'active' : '') ?>"><a class="nav-link" href="/registry">Registry</a></li>
            <li class="nav-item <?= ($this->primary_navigation === 'rsvp' ? 'active' : '') ?>"><a class="nav-link" href="/rsvp">RSVP</a></li>
            <li class="nav-item <?= ($this->primary_navigation === 'photos' ? 'active' : '') ?>"><a class="nav-link" href="/photos">Engagement Photos</a></li>
        </ul>
    </div>
</nav>