<?php
/* @var $rsvp \App\Model\Entity\Rsvp */
$rsvp = $this->rsvp;

?>

<h1>Rsvp Attending</h1>
<ul>
    <li><strong>Attending</strong>: <?= $rsvp->getEventSet() ?></li>
    <li><strong>Number Attending</strong>: <?= $rsvp->getNumberAttending() ?></li>
</ul>

<h2>Names</h2>
<ul>
    <?php foreach ($rsvp->getAttendingPersons() as $person): ?>
        <li><?= sprintf('%s %s - %s', $person->getFirstName(), $person->getLastName(), ($person->getDrinkingAge() ? '21+' : 'Under 21')) ?></li>
    <?php endforeach; ?>
</ul>

