body {
    padding-top: 57px;
    color: #343a40;
}
.starter-template {
    padding: 8rem 1.5rem;
    text-align: center;
    color: #c5b5b5;
}

.navbar {
    background-color: #ba818a;
    background-size:100%;
}

.navbar a {
    color: #f8f9fa;
}

.countdown .container {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.countdown h2 {
    padding-bottom: 2rem;
    color: #ba818a;
}

.default-footer {
    color: #ba818a;
}

#main-section {
    background: url("/images/cover.jpg") no-repeat center #eee;
}
