
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Wedding details for Phil Stoll and Kathryn Caldwell on 10/6/2018 in Columbia, Missouri">
    <meta name="author" content="Phil Stoll">
    <link rel="icon" href="./images/favicon.ico">
    <?=$this->headTitle('Phil Stoll and Kathryn Caldwell Wedding')->setSeparator(' - ')->setAutoEscape(false)?>

    <!-- Bootstrap core CSS -->
    <link href="./css/main.min.css" rel="stylesheet">
    <?= $this->partial('layout::parts/google-analytics', ['google_analytics_id' => $this->google_analytics_id,]) ?>
</head>

<body class="bg-light">

<?= $this->partial('layout::parts/navigation', ['primary_navigation' => $this->primary_navigation,]) ?>

<div class="main-content container mb-5 pb-5">
    <?= $this->content ?>
</div>

<footer class="footer center-block border-top fixed-bottom bg-dark default-footer pt-3">
    <div class="container">
        <p class="text-center">Powered by: Stoll Software Solutions, LLC.</p>
    </div>
</footer>
<!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<?= // adding scripts
$this->headScript()->prependFile(
    './js/main.min.js'
) ?>
</body>
</html>
