<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Wedding details for Phil Stoll and Kathryn Caldwell on 10/6/2018 in Columbia, Missouri">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Phil Stoll and Kathryn Caldwell Wedding</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/main.min.css" rel="stylesheet">
</head>

<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Our Wedding</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="#">Details</a>
                <a class="nav-link" href="#">Registry</a>
                <a class="nav-link" href="#">RSVP</a>
            </nav>
        </div>
    </header>

    <div class="content">
        <?= $this->content ?>
    </div>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Powered by: Stoll Software Solutions, LLC.</p>
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="./js/main.min.js"></script>
</body>
</html>
