<?php
    $this->headTitle('Wedding Details');
    $groomsmen = $this->wedding_party['groomsmen'];
    shuffle($groomsmen);
    $bridesmaids = $this->wedding_party['bridesmaids'];
    shuffle($bridesmaids);
?>

<div class="p-3 text-center">
    <div class="card text-center bg-light">
        <div class="card-header">
            <h2>Ceremony</h2>
        </div>
        <div class="card-body">
            <h3><a href="http://www.serenitywinerymo.com/" title="Serenity Valley Winery">Serenity Valley Winery</a></h3>
            <h4>4:00 PM</h4>
            <p>
                <a href="https://www.google.com/maps/place/Serenity+Valley+Winery/@38.8821533,-92.1218185,15z/data=!4m5!3m4!1s0x0:0x8d5f5a268f19b106!8m2!3d38.8821533!4d-92.1218185"
                   title="Serenity Valley Winery Map">
                    1888 County Rd 342<br>
                    Fulton, MO 65251
                </a>
            </p>
            <p>
                <strong>Directions</strong><br>From any direction take exit 137 from I-70 and turn south onto MO-J.<br>
                Follow it for just over 5 miles. Turn right onto County Rd 342 and the winery will be on your left.
            </p>
        </div>
    </div>

    <div class="card text-center bg-light mt-5">
        <div class="card-header">
            <h2>Reception</h2>
        </div>
        <div class="card-body">
            <h3><a href="https://buroakbeer.com/" title="Bur Oak Brewing Company">Bur Oak Brewing Company</a></h3>
            <h4>5:00 PM</h4>
            <p>
                <a href="https://www.google.com/maps/place/Bur+Oak+Brewing+Company/@38.9544385,-92.2111473,15z/data=!4m5!3m4!1s0x0:0xb449fb8773463ac8!8m2!3d38.9544385!4d-92.2111473"
                   title="Bur Oak Brewing Company Map">
                    8250 Trade Center Dr<br>
                    Columbia, MO 65201
                </a>
            </p>
            <p>
                <strong>Directions</strong><br>Reverse! Reverse! Get back to I-70 and head west towards Columbia.<br>
                Take exit 133 and turn left, then turn right at the second cross street onto I-70 Dr SE. <br>
                Follow this for a half mile and then turn left onto N Tradewinds Pkwy.<br>
                Finally, turn left onto Trade Center Dr, find a parking spot and head on in to party!
            </p>
        </div>
    </div>

    <div class="card text-center bg-light mt-5">
        <div class="card-header">
            <h2>Hotel Accommodations</h2>
        </div>
        <div class="card-body">
            <h3><a href="https://www.holidayinn.com/hotels/us/en/columbia/coumo/hoteldetail?qAdlt=1&qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn.ki.va.sp.nd.ct&qChld=0&qFRA=1&qGRM=0&qIta=99504425&qPSt=0&qRRSrt=rt&qRef=df&qRms=1&qRpn=1&qRpp=20&qSHp=1&qSmP=3&qSrt=sBR&qWch=0&srb_u=1&icdv=99504425&dp=true&cid=29284&glat=SEAR&setPMCookies=true" title="Holiday Inn Columbia East">Holiday Inn Columbia East</a></h3>
            <p>
                <a href="https://www.google.com/maps/place/Holiday+Inn+Columbia-East/@38.9581052,-92.2524803,15z/data=!4m8!3m7!1s0x0:0xaca064ba75022cba!5m2!1s2018-10-05!2i2!8m2!3d38.9581052!4d-92.2524803"
                   title="Holiday Inn Columbia East Map">
                    915 Port Way<br>
                    Columbia MO, 65202
                </a>
            </p>
            <p>
                We have a room block here. Call 573-474-4444 and use code <strong>SCW</strong> for reservations.<br>
                There are many hotels in Columbia, but this is closest to both the ceremony and reception.<br>
                This is also where the bride and groom will be staying.
            </p>
            <p>
                <a href="https://www.google.com/maps/search/Hotels/@38.9446049,-92.3383512,13z/data=!4m12!2m11!3m6!1sHotels!2sBur+Oak+Brewing+Company,+8250+Trade+Center+Dr,+Columbia,+MO+65201!3s0x87dcbf44e335d63b:0xb449fb8773463ac8!4m2!1d-92.2111473!2d38.9544385!5m3!5m2!1s2018-10-05!2i2"
                   title="Other Hotels Near Reception">
                    Other Hotels Nearby
                </a>
            </p>
        </div>
    </div>

    <div class="card text-center bg-light mt-5">
        <div class="card-header">
            <h2>Wedding Party</h2>
        </div>
        <div class="card-body">
            <div class="row text-left">
                <div class="col-sm-6">
                    <h5>Bridesmaids</h5>
                    <ul>
                        <li>Kristina Caldwell - <em>Maid of Honor and sister of the bride</em></li>
                        <?php foreach ($bridesmaids as $bridesmaid): ?>
                            <li><?= $bridesmaid['name'] ?> - <em><?= $bridesmaid['title'] ?></em></li>
                        <?php endforeach; ?>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h5>Groomsmen</h5>
                    <ul>
                        <li>Corey Kist - <em>Best Man and friend of the groom</em></li>
                        <?php foreach ($groomsmen as $groomsman): ?>
                            <li><?= $groomsman['name'] ?> - <em><?= $groomsman['title'] ?></em></li>
                        <?php endforeach; ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
