<main role="main" class="container-fluid" id="main-section">
    <div class="starter-template">
        <h1><?= (true === $this->isFutureDate ? "We're Getting" : 'We Are') ?> Married!</h1>
        <h2>Kathryn and Phil</h2>
        <h3>10.06.2018</h3>
        <h3>Columbia, MO</h3>
    </div>
</main>

<div class="countdown bg-dark">
    <div class="container">
        <h2 class="text-center"><?= (true === $this->isFutureDate ? 'Wedding Ceremony Countdown' : 'Happily Married For') ?></h2>
        <div class="row">

            <?php if ($this->years > 0): ?>
                <div class="col-sm-4">
                    <div class="card text-center bg-light">
                        <div class="card-body">
                            <h3 class="card-title"><?= $this->years ?></h3>
                            <p class="card-text">Year<?= ($this->years === 1 ? '' : 's') ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
            <div class="col-sm-4">
                <div class="card text-center bg-light">
                    <div class="card-body">
                        <h3 class="card-title"><?= $this->months ?></h3>
                        <p class="card-text">Month<?= ($this->months === 1 ? '' : 's') ?></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card text-center bg-light">
                    <div class="card-body">
                        <h3 class="card-title"><?= $this->days ?></h3>
                        <p class="card-text">Day<?= ($this->days === 1 ? '' : 's') ?></p>
                    </div>
                </div>
            </div>
            <?php if ($this->years === 0): ?>
                <div class="col-sm-4">
                    <div class="card text-center bg-light">
                        <div class="card-body">
                            <h3 class="card-title"><?= $this->hours ?></h3>
                            <p class="card-text">Hour<?= ($this->hours === 1 ? '' : 's') ?></p>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>
