<?php $this->headTitle('Engagement Photos'); ?>

<div class="pt-3 pb-3" id="galleries">

    <?php if (null !== $this->attending): ?>
        <div class="alert alert-success" role="alert">
            <?php if (true === $this->attending): ?>
                <strong>RSVP successfully submitted.</strong> We look forward to celebrating with you in October!
            <?php else: ?>
                <strong>RSVP successfully submitted.</strong> Sorry to hear you won't be able to join us.
            <?php endif; ?>
        </div>
    <?php endif; ?>

    <h1 class="align-content-center">Columbia, MO - 5/20/2018</h1>
    <h4 class="text-muted">Gallery By: <a href="https://tmbmedia2017.wixsite.com/tmb2017" title="TMB Media">TMB Media</a> </h4>
    <div id="tmb-caption" style="display:none">
        <p>Photo By: <a href="https://tmbmedia2017.wixsite.com/tmb2017" title="TMB Media">TMB Media</a></p>
    </div>

    <div class="pb-5" id="tmb-gallery">
        <a class="tmb-picture picture" href="/images/tmb0.jpg" data-sub-html="#tmb-caption">
            <img src="/images/thumbnails/tmb0.jpg"/>
        </a>
        <a class="tmb-picture picture" href="/images/tmb1.jpg" data-sub-html="#tmb-caption">
            <img src="/images/thumbnails/tmb1.jpg"/>
        </a>
        <a class="tmb-picture picture" href="/images/tmb2.jpg" data-sub-html="#tmb-caption">
            <img src="/images/thumbnails/tmb2.jpg"/>
        </a>
        <a class="tmb-picture picture" href="/images/tmb3.jpg" data-sub-html="#tmb-caption">
            <img src="/images/thumbnails/tmb3.jpg"/>
        </a>
        <a class="tmb-picture picture" href="/images/tmb4.jpg" data-sub-html="#tmb-caption">
            <img src="/images/thumbnails/tmb4.jpg"/>
        </a>
        <a class="tmb-picture picture" href="/images/tmb5.jpg" data-sub-html="#tmb-caption">
            <img src="/images/thumbnails/tmb5.jpg"/>
        </a>
        <a class="tmb-picture picture" href="/images/tmb6.jpg" data-sub-html="#tmb-caption">
            <img src="/images/thumbnails/tmb6.jpg"/>
        </a>
        <a class="tmb-picture picture" href="/images/tmb7.jpg" data-sub-html="#tmb-caption">
            <img src="/images/thumbnails/tmb7.jpg"/>
        </a>
        <a class="tmb-picture picture" href="/images/tmb8.jpg" data-sub-html="#tmb-caption">
            <img src="/images/thumbnails/tmb8.jpg"/>
        </a>
        <a class="tmb-picture picture" href="/images/tmb9.jpg" data-sub-html="#tmb-caption">
            <img src="/images/thumbnails/tmb9.jpg"/>
        </a>

    </div>
    <h1 class="align-content-center">Stephens Lake Park - Columbia, MO - 5/28/2018</h1>
    <h4 class="text-muted">Gallery By: <a href="https://caldwellpaintingandmorellc.com/" title="Caldwell Painting and More">Caldwell Painting &amp; More</a> </h4>
    <div id="cpm-caption" style="display:none">
        <p>Photo By: <a href="https://caldwellpaintingandmorellc.com/" title="Caldwell Painting and More">Caldwell Painting &amp; More</a></p>
    </div>

    <div id="caldwell-painting-gallery" >
        <a class="caldwell-painting-picture picture" href="/images/DSC_1127.jpg" data-sub-html="#cpm-caption">
            <img src="/images/thumbnails/DSC_1127.jpg"/>
        </a>
        <a class="caldwell-painting-picture picture" href="/images/DSC_1140.jpg" data-sub-html="#cpm-caption">
            <img src="/images/thumbnails/DSC_1140.jpg"/>
        </a>
        <a class="caldwell-painting-picture picture" href="/images/DSC_1164.jpg" data-sub-html="#cpm-caption">
            <img src="/images/thumbnails/DSC_1164.jpg"/>
        </a>
        <a class="caldwell-painting-picture picture" href="/images/DSC_1173.jpg" data-sub-html="#cpm-caption">
            <img src="/images/thumbnails/DSC_1173.jpg"/>
        </a>
        <a class="caldwell-painting-picture picture" href="/images/DSC_1175.jpg" data-sub-html="#cpm-caption">
            <img src="/images/thumbnails/DSC_1175.jpg"/>
        </a>
        <a class="caldwell-painting-picture picture" href="/images/DSC_1217.jpg" data-sub-html="#cpm-caption">
            <img src="/images/thumbnails/DSC_1217.jpg"/>
        </a>
        <a class="caldwell-painting-picture picture" href="/images/DSC_1251.jpg" data-sub-html="#cpm-caption">
            <img src="/images/thumbnails/DSC_1251.jpg"/>
        </a>
    </div>
</div>

<script type="text/javascript">
    <?php $this->headScript()->captureStart() ?>

    $(function() {
        $("#caldwell-painting-gallery").justifiedGallery({
            'randomize': false,
            'margins': 3,
            'rowHeight': 200
        });
    });

    $(function() {
        $("#tmb-gallery").justifiedGallery({
            'randomize': false,
            'margins': 3,
            'rowHeight': 200
        });
    });

    $(document).ready(function() {
        $('#galleries').lightGallery({
            selector: '.picture'
        });
    });

    <?php $this->headScript()->captureEnd() ?>
</script>