<?php $this->headTitle('Registry'); ?>

<h1 class="pt-3 pb-3">Registry Details</h1>

<p>We are registered at the locations listed below. We would also appreciate Home Depot gift cards, as we are hoping to complete a few home improvement projects.</p>

<div class="card text-center bg-light">
    <div class="card-header">
        <h3>Bed Bath & Beyond</h3>
    </div>
    <div class="card-body">
        <a class="btn btn-primary" target="_blank" href="/bbb" title="Bed Bath and Beyond Registry Website">Visit Website</a>
    </div>
</div>

<div class="card text-center bg-light mt-5">
    <div class="card-header">
        <h3>Amazon.com</h3>
    </div>
    <div class="card-body">
        <a class="btn btn-primary" target="_blank" href="/amazon" title="Amazon.com Registry Website">Visit Website</a>
    </div>
</div>

<div class="card text-center bg-light mt-5">
    <div class="card-header">
        <h3>Honeymoon Wishes</h3>
    </div>
    <div class="card-body">
        <a class="btn btn-primary" target="_blank" href="/honeymoon" title="Honeymoon Wishes Registry Website">Visit Website</a>
    </div>
</div>
