<?php
$this->headTitle('RSVP');
$this->form->prepare();
/* @var $rsvpFieldset \App\Form\RsvpFieldset */
$rsvpFieldset = $this->form->get('rsvp-fieldset');
$rsvpCollection = $this->form->get('rsvp-person');
/* @var $rsvpPersons \App\Form\RsvpPersonFieldset[] */
$rsvpPersons = $rsvpCollection->getFieldsets();

$this->formRadio()->setSeparator('</div><div class="form-check">');
?>

<h1 class="pt-3 pb-3">RSVP</h1>

<?php if ($this->form->getOption('error-message')): ?>
    <div class="alert alert-danger" role="alert">
        <?= $this->form->getOption('error-message') ?>
    </div>
<?php endif; ?>

<?= $this->form()->openTag($this->form) ?>
<?= $this->formHidden($this->form->get('rsvp_csrf')) ?>
<div class="form-group row">
    <span class="col-sm-3 col-form-label">Will you be celebrating with us?</span>
    <div class="col-sm-9">
        <?= $this->formBootstrap4Radio($rsvpFieldset->get('attending')) ?>
        <?= $this->formElementErrors($rsvpFieldset->get('attending')) ?>
    </div>
</div>

<div class="selection-section <?= $rsvpFieldset->attendingIsSelected() ? '' : 'd-none' ?>">
    <div class="accept-section <?= $rsvpFieldset->showAttendingSection() ? '' : 'd-none' ?>">

        <div class="form-group row">
            <span class="col-sm-3 col-form-label">Which events will you be attending?</span>
            <div class="col-sm-9">
                <?= $this->formBootstrap4Radio($rsvpFieldset->get('events_attending')) ?>
                <?= $this->formElementErrors($rsvpFieldset->get('events_attending')) ?>
            </div>
        </div>

        <div class="form-group row">
            <?= $this->formLabel($rsvpFieldset->get('number_attending')) ?>
            <div class="col-sm-9">
                <?= $this->formNumber($rsvpFieldset->get('number_attending')) ?>
            </div>
        </div>

        <hr>

        <h3>Attendees</h3>

        <?php foreach ($rsvpPersons as $rsvpPerson): ?>
            <div class="attendee">
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <?= $this->formInput($rsvpPerson->get('first_name')) ?>
                        <?= $this->formElementErrors($rsvpPerson->get('first_name')) ?>
                    </div>
                    <div class="form-group col-md-5">
                        <?= $this->formInput($rsvpPerson->get('last_name')) ?>
                        <?= $this->formElementErrors($rsvpPerson->get('last_name')) ?>
                    </div>
                    <div class="form-group col-md-2 text-right">
                        <?= $this->formCheckbox($rsvpPerson->get('drinking_age')) ?>
                        <?= $this->formLabel($rsvpPerson->get('drinking_age')) ?>
                    </div>
                </div>
                <hr>
            </div>
        <?php endforeach; ?>
    </div>

    <div class="decline-section <?= $rsvpFieldset->showNotAttendingSection() ? '' : 'd-none' ?>">
        <div class="form-group row">
            <?= $this->formLabel($rsvpFieldset->get('decline_names')) ?>
            <div class="col-sm-9">
                <?= $this->formTextArea($rsvpFieldset->get('decline_names')) ?>
                <?= $this->formElementErrors($rsvpFieldset->get('decline_names')) ?>
            </div>
        </div>
    </div>

    <?= $this->formSubmit($this->form->get('submit')) ?>
</div>

<?= $this->form()->closeTag() ?>

<script type="text/javascript">
<?php $this->headScript()->captureStart() ?>

    $(document).ready(function () {
        $('input[type=radio][name=rsvp-fieldset\\[attending\\]]').change(function() {
            if (this.value == '1') {
                $('.accept-section').removeClass('d-none');
                $('.decline-section').addClass('d-none');
            } else if (this.value == '0') {
                $('.accept-section').addClass('d-none');
                $('.decline-section').removeClass('d-none');
            }

            $('.selection-section').removeClass('d-none');
        });
    });

    function adjustAttendees(value) {
        debugger;
        if (! this.valid(value)) {
            alert ('Please enter between 1 and 10 attendees. If more than 10 are attending, please enter multiple reservations.');
            return;
        }

        var previousNumber = this.getCurrentNumberOfAttendees();

        if (previousNumber > value) {
            this.removeRows(previousNumber - value);
        } else if (previousNumber < value) {
            this.appendNewRows(previousNumber, value);
        } else {
            //Same no change
            return;
        }
    }

    function valid(value) {
        if (value < 1 || value > 10) {
            return false;
        }

        return true;
    }

    function getCurrentNumberOfAttendees() {
        return $('.attendee').length;
    }

    function appendNewRows(startingIndex, endingCount) {
        for (var i = startingIndex; i < endingCount; i++) {
            $('.attendee').last().append(this.getNewRowString(i));
        }
    }

    function removeRows(numberToRemove) {
        for (var i = 0; i < numberToRemove; i++) {
            $('.attendee').last().remove();
        }
    }

    function getNewRowString(index) {
        var row = '<div class="attendee"><div class="form-row"><div class="form-group col-md-5"><input type="text" name="rsvp-person&#x5B;__index__&#x5D;&#x5B;first_name&#x5D;" placeholder="First&#x20;Name" class="form-control" value=""></div><div class="form-group col-md-5"><input type="text" name="rsvp-person&#x5B;__index__&#x5D;&#x5B;last_name&#x5D;" placeholder="Last&#x20;Name" class="form-control" value=""></div><div class="form-group col-md-2 text-right"><input type="hidden" name="rsvp-person&#x5B;__index__&#x5D;&#x5B;drinking_age&#x5D;" value="0"><input type="checkbox" name="rsvp-person&#x5B;__index__&#x5D;&#x5B;drinking_age&#x5D;"> <label for="rsvp-person&#x5B;__index__&#x5D;&#x5B;drinking_age&#x5D;">21 or over?</label></div></div><hr></div>';
        return row.replace(/__index__/g, index);
    }


<?php $this->headScript()->captureEnd() ?>
</script>
